#music-playback-root {
    margin-top: 6px;
}
#music-playback-root i {
    font-size: 24px;
}
#music-playlist-root i {
    font-size: 16px;
}
#music-playlist-root .btn-outline-info {
    padding: 0 .5em;
    margin: 0 1em;
}
.browselist-item {
    padding: 0.25rem 0.75rem;
}
.playqueueMetadata {
    background: #303030;
    margin: .5em 0;
}
.playqueueMetadata td {
    font-family: Inconsolata, Consolas, monospace;
}
.footer {
    text-align: center;
}
.list-group-item-dark {
    color: dimgrey;
    background: #202020;
}
.meta-art {
    max-height: 50%;
    max-width: 50%;
}